@import "bourbon";
@import "vars.scss";

/* ================================*/


.allert, .allert_tell {
    position: absolute;
    z-index: 20;
    top: 50%;
    margin-top: -10px;
    display: block;
    right: 15px;
    height: 20px;
    width: 20px;
    color: #FF6565;
    cursor: default;
}

.allert:hover, .allert_tell:hover{
    text-decoration : none;
}

.allert span, .allert_tell span {
    display: none;
    opacity: 0;
    padding : 5px;
    margin-left : 5px;
    line-height: 14px;
    color:#000;
    font-style:italic;
    font-size: 13px;
    border-radius: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 140px;
    min-height: 40px;
    text-align: center;
}
.allert:hover span, .allert_tell:hover span {
    border : 1px solid #FF6565;
    background : #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position : absolute;
    color : #4e4e4e;
    right:24px;
    top:-10px;
    opacity: 1;
}

input::-webkit-input-placeholder{
  color: #888;
  font: 16px/40px $main_font;
}

input:-moz-placeholder{
  color: #888;
  font: 16px/40px $main_font;
}

input::-moz-placeholder{
  color: #888;
  font: 16px/40px $main_font;
}

input:-ms-input-placeholder{
  color: #888;
  font: 16px/40px $main_font;
}

@font-face {
  font-family: 'Glyphicons';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-earphone:before {
  content: "\e182";
}

.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-remove:before {
  content: "\e014";
}

.glyphicon-info-sign:before {
  content: "\e086";
}