@import "bourbon";
@import "vars.scss";

body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	font: 18px/24px  $main_font;
  color: #373f41;;
	background-color: #fff;
}


textarea{
	resize:none;
}

button{
	&:hover{
		cursor: pointer;
	}
}