@font-face {
  font-family: "ArialRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialRegular.woff2") format("woff2"), url("../fonts/ArialRegular.woff") format("woff"); }

@font-face {
  font-family: "ArialBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialBold.woff2") format("woff2"), url("../fonts/ArialBold.woff") format("woff"); }

@font-face {
  font-family: "glyphicons-halflings-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"); }
