body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font: 18px/24px "ArialRegular", sans-serif;
  color: #373f41;
  background-color: #fff; }

textarea {
  resize: none; }

button:hover {
  cursor: pointer; }
